{% extends 'GammaMainBundle::info_layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
      <div class="jumbotron">
        <h1>Project Gamma</h1>
        <p>This example is a quick exercise to illustrate how the Symfony2, Doctrine2 and Bootstrap work.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{{ path('gamma_main_homepage') }}" role="button">View our Products &raquo;</a>
        </p>
      </div>
{% endblock %}
